<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationExePath" value="C:\Windows\System32\mspaint.exe" />
    <add key="ProcessName" value="mspaint" />
    <add key="ClassName" value="MSPaintApp" />
    <add key="FilePath" value="..\..\..\..\PaintTesting\Resourses\" />
  </appSettings>
</configuration>